@mixin animation-for-focus {
	transition: box-shadow ease 0.7s;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin shake-left {
  animation:shake-left .8s both;

  @keyframes shake-left {
    0%,100%  {
      transform-origin:0 50%;
      transform:rotate(0deg)
    }

    10% {
      transform:rotate(2deg)
    }

    20%,40%,60% {
      transform:rotate(-4deg)
    }

    30%,50%,70% {
      transform:rotate(4deg)
    }

    80% {
      transform:rotate(-2deg)
    }

    90% {
      transform:rotate(2deg)
    }
  }

}

@mixin scale-in-center{
  .scale-in-center {
    animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
  }

  @keyframes scale-in-center {
    0% {
      transform:scale(0);
      opacity:1
    }

    100% {
      transform:scale(1);
      opacity:1
    }
  }
}