@import "src/styles/mixins";

.container {
	display: flex;
	gap: 25px;
	align-items: center;
	justify-content: space-between;

	padding-bottom: 24px;

	.root {
        @include flex-center;

		all: inherit;

		gap: 10px;

		padding: 12px;

		border: 1px solid var(--color-danger-100);
		border-radius: 16px;

        &:hover {
          @include shake-left;
        }

	}
}
