@import 'src/styles/mixins';

.root {
	all: inherit;

	width: 100%;
	height: 100%;
	padding: 10px;

	font-size: 16px;
	color: var(--color-danger-100);

	background: rgb(45 43 43 / 80%);

	transition: transform 0.3s ease-in-out;

	&:enabled:hover {
		animation: shadow-drop-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}

	@keyframes shadow-drop-center {
		0% {
			box-shadow: 0 0 0 0 transparent;
		}

		100% {
			box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
		}
	}
}

.today {
	background: #425667;
}

.noCurrent {
	color: #725757;
	background: rgb(36 33 33 / 80%);
}

.animation {
	transform: scale(5);
}

.highlighted {
	background: var(--color-warning-100);
}
.hover {
	background: var(--color-success-100);
}
